header{
    display: flex;
    justify-content: space-between; /* ??y ph?n t? v? hai b?n */
    align-items: center;
}
h1{
    width: 30%;
}
h2{
    width: 25%;
}
.userInfor{
    display: flex;
    justify-content: space-between; /* ??y ph?n t? v? hai b?n */
    align-items: center;
    gap: 20px;
}
.user .edit{
    float: left;
}
.logout{

    float: right;
}

.body{
    height: 100%;
    
}